body {
	background-color:white;
}

#color_but {
	width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
    width: 100%
}

td {
	text-align: center;
	background-color: white;
	width: 33%;
}

td img {
	text-align: center;
	display:none;
	width: 100%;
	height: 100%;
}

input[type=Button]:not([id=navbut]) { 
	width: 100%;
	height: 100%;
	border: 1px red;
}